<div>
  <div>
    <h1>
      List of all greenhouse utilizations
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new greenhouse utilization
    </h2>

    <form action="/insert_greenhouse_utilization" method="post">
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="text" id="time_box" name="query_time">
      </div>

      <div>
        <label for="total_benchspace_box">
          Total benchspace
        </label>

        <input type="text" id="total_benchspace_box" name="query_total_benchspace">
      </div>

      <div>
        <label for="plan_id_box">
          Plan
        </label>

        <input type="text" id="plan_id_box" name="query_plan_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create greenhouse utilization
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Time
        </th>

        <th>
          Total benchspace
        </th>

        <th>
          Plan
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_greenhouse_utilizations.each do |a_greenhouse_utilization| %>
      <tr>
        <td>
          <%= a_greenhouse_utilization.id %>
        </td>

        <td>
          <%= a_greenhouse_utilization.time %>
        </td>

        <td>
          <%= a_greenhouse_utilization.total_benchspace %>
        </td>

        <td>
          <%= a_greenhouse_utilization.plan_id %>
        </td>

        <td>
          <%= a_greenhouse_utilization.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_greenhouse_utilization.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_greenhouse_utilization.updated_at) %> ago
        </td>

        <td>
          <a href="/greenhouse_utilizations/<%= a_greenhouse_utilization.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
