<div>
  <div>
    <h1>
      List of all production plans
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new production plan
    </h2>

    <form action="/insert_production_plan" method="post">
    
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>
      
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>
      
      <div>
        <label for="prodweeks_box">
          Production Weeks
        </label>

        <input type="text" id="prodweeks_box" name="query_prodweeks">
      </div>
      
      <div>
        <label for="space_box">
          Total Usable Space
        </label>

        <input type="float" id="space_box" name="query_space">
      </div>

      <div>
        <label for="soil_box">
          Soil Cost per yd&sup3;
        </label>

        <input type="float" id="soil_box" name="query_soil">
      </div>


      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id%>>
      </div>

      <button>
        Create production plan
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>
        
        <th>
          Name
        </th>

        <th>
          Description
        </th>
        
        <th>
          Production Weeks
        </th>

        <th>
          Total Usable Space
        </th>

        <th>
          Soil Cost
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_production_plans.each do |a_production_plan| %>
      <tr>
        <td>
          <%= a_production_plan.id %>
        </td>

        <td>
          <%= a_production_plan.name %>
        </td>

        <td>
          <%= a_production_plan.description %>
        </td>

        <td>
          <%= a_production_plan.prod_weeks %>
        </td>

        <td>
          <%= a_production_plan.total_space %>
        </td>

        <td>
          <%= a_production_plan.soil_cost %>
        </td>

        <td>
          <%= time_ago_in_words(a_production_plan.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_production_plan.updated_at) %> ago
        </td>

        <td>
          <a href="/production_plans/<%= a_production_plan.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
