<div>
  <div>
    <h1>
      Manage Production Plans
    </h1>
  </div>
</div>

<div>

  <h3>Use the table below to create a new production plan or manage your existing plans.</h3>

  <br>

</div>

<div>
  <div>
    <table class="table table-striped table-sm">
      <tr>
        <th>
          Manage
        </th>
        
        <th>
          Name
        </th>

        <th>
          Description
        </th>
        
        <th>
          Production Weeks
        </th>

        <th>
          Total Usable Bench Space (ft&sup2;)
        </th>

        <th>
          Soil Cost per yd&sup3;
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>
      </tr>

      <tr>

          <form action="/insert_production_plan" method="post">
            <div>
              <td>
                <button class="btn btn-outline-danger btn-sm">
                  Create
                </button>
              </td>
            </div>
          
            <div>
              <td>
                <input size=4 type="text" id="name_box" name="query_name">
              </td>
            </div>
            
            <div>
              <td>
                <textarea type="text" id="description_box" name="query_description" rows=1></textarea>
              </td>
            </div>
            
            <div>
              <td>
                <input size=4 type="integer" id="prodweeks_box" name="query_prodweeks" cols=4>
              </td>
            </div>
            
            <div>
              <td>
                <input size=4 type="float" id="space_box" name="query_space">
              </td>
            </div>

            <div>
              <td>
                <input size=4 type="float" id="soil_box" name="query_soil">
              </td>
            </div>
          </form>

          <div>
            <td>
              N/A
            </td>
          </div>
          <div>
            <td>
              N/A
            </td>
          </div>
      </tr>

      <% @list_of_production_plans.each do |a_production_plan| %>
      <tr>
        <td>
          <form action="/production_plans/<%= a_production_plan.id %>" method="get"><button class="btn btn-outline-danger btn-sm">Details</button></form>
          <form action="/copy_production_plan/<%= a_production_plan.id %>" method="post"><button class="btn btn-outline-danger btn-sm">Copy</button></form>
        </td>

        <td>
          <%= a_production_plan.name %>
        </td>

        <td>
          <%= a_production_plan.description %>
        </td>

        <td>
          <%= a_production_plan.prod_weeks %>
        </td>

        <td>
          <%= a_production_plan.total_space %>
        </td>

        <td>
          <%= a_production_plan.soil_cost %>
        </td>

        <td>
          <%= time_ago_in_words(a_production_plan.created_at) %> ago
        </td>
        <td>
          <% if (a_production_plan.fixed_costs.at(0).nil?)  & (a_production_plan.crops.at(0).nil?) %>
            <%= time_ago_in_words(a_production_plan.updated_at) %> ago
            
          <% elsif a_production_plan.crops.at(0).nil? %>
            <%= time_ago_in_words([a_production_plan.updated_at, a_production_plan.fixed_costs.pluck(:updated_at).max ].max) %> ago

          <% elsif a_production_plan.fixed_costs.at(0).nil? %>
            <%= time_ago_in_words([a_production_plan.updated_at, a_production_plan.crops.pluck(:updated_at).max].max) %> ago

          <% else %>
            <%= time_ago_in_words([a_production_plan.updated_at, a_production_plan.fixed_costs.pluck(:updated_at).max, a_production_plan.crops.pluck(:updated_at).max ].max) %> ago
          <% end %>
        </td>

<!--        <td>
          <a href="/production_plans/<%#= a_production_plan.id %>">
            Show details
          </a>
        </td>-->
      </tr>
      <% end %>
    </table>
  </div>
</div>
