<div>
  <div>
    <h1>
      Production plan: <%= @the_production_plan.name %>
    </h1>

  </div>
</div>


<div>
  <div>

    <form action="/modify_production_plan/<%= @the_production_plan.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea type="text" id="description_box" name="query_description" rows=3><%= @the_production_plan.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_production_plan.user_id %>">
      </div>

      <div>
        <label for="space_box">
          Total Usable Space
        </label>

        <input type="float" id="space_box" name="query_space" value="<%= @the_production_plan.total_space %>">
      </div>

      <div>
        <label for="soil_box">
          Soil Cost per yd&sup3;
        </label>

        <input type="float" id="soil_box" name="query_soil" value="<%= @the_production_plan.soil_cost %>">
      </div>

      <div>
        <label for="weeks_box">
          Production Weeks
        </label>

        <input type="float" id="weeks_box" name="query_prodweeks" value="<%= @the_production_plan.prod_weeks %>">
      </div>

      <button>
        Update production plan
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    Total Fixed Costs: <%= @the_production_plan.fixed_costs.pluck(:total_cost).sum %>
  </div>

  <div>
    Fixed Costs per ft&sup2; per week: <%= @fixed_per_sqftweek %>
  </div>
</div>

<hr>

<div>
  <h2>
    Fixed Costs
  </h2>

  <div>
    <form action="/insert_overhead_expense" method="post">
      <div>
        <label for="category_box">
          Expense Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="total_cost_box">
          Total cost
        </label>

        <input type="text" id="total_cost_box" name="query_total_cost">
      </div>

      <div>
        <input type="hidden" id="plan_id_box" name="query_plan_id" value=<%= @the_production_plan.id %>>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id %>>
      </div>

      <button>
        Create overhead expense
      </button>
    </form>
  </div>

  <br>

  <table border=1>
    <tr>
      <th>
        Expense
      </th>  
      <th>
        Cost
      </th>
    </tr>

    <% @the_production_plan.fixed_costs.each do | cost | %>

      <tr>
        <td>
          <%= cost.category %>
        </td>
      
        <td>
          <%= cost.total_cost %>
        </td>
      </tr>

    <% end %>
  </table>
</div>

<hr>

<h2>
  Material Costs
</h2>

<div>
  <table border=1>
    <tr>
      <th>
        Manage
      </th>

      <th>
        Material
      </th>

      <th>
        Crop Time
      </th>

      <th>
        Container Type
      </th>

      <th>
        Container Size
      </th>

      <th>
        Total Units Planted
      </th>

      <th>
        Bench Area Used
      </th>

      <th>
        Unit Material Cost
      </th>

      <th>
        Unit Container Cost
      </th>

      <th>
        Unit Tag Cost
      </th>

      <th>
        Miscellaneous Unit Costs
      </th>

      <th>
        Buffer %
      </th>

      <th>
        Shrink Opportuniy Cost
      </th>

      <th>
        Total Unit Cost
      </th>

      <th>
        Unit Sell Price
      </th>
      
      <th>
        Unit Margin
      </th>
      
      <th>
        Margin / ft&sup2; / Week
      </th>
    </tr>

    <% @the_production_plan.crops.each do | crop | %>
      <tr>
        <td>
          <a href="">Edit</a>
        </td>

        <td>
          <%= crop.description %>
        </td>

        <td>
          <%= crop.crop_time %>
        </td>
        
        <td>
          <%= crop.container_type %>
        </td>
        
        <td>
          <%= crop.container_size %>
        </td>
        
        <td>
          <%= crop.total_qty %>
        </td>
        
        <td>
          <%= crop.bench_space %>
        </td>
        
        <td>
          <%= crop.material_cost %>
        </td>
        
        <td>
          <%= crop.unit_container_cost %>
        </td>
        
        <td>
          <%= crop.unit_tag_cost %>
        </td>
        
        <td>
          <%= crop.miscellaneous %>
        </td>
        
        <td>
          <%= crop.buffer %>
        </td>
        
        <td>
          <%= crop.shrink_opportunity_cost %>
        </td>

        <td>
          <%= total_matl_cost = (crop.material_cost + crop.unit_container_cost + crop.unit_tag_cost + crop.soil_cost + crop.miscellaneous).round(2) %>
        </td>
        
        <td>
          <%= crop.unit_price %>
        </td>

        <td>
          <%= (crop.unit_price - total_matl_cost).round(2) %>
        </td>

        <td>
          <%= (((crop.unit_price - total_matl_cost)*crop.total_qty) / crop.bench_space  / @the_production_plan.prod_weeks).round(2) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<hr>

<div>
  <div>
    <a href="/production_plans">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_production_plan/<%= @the_production_plan.id %>">
      Delete production plan
    </a>
  </div>
</div>

<div>
  <dl>
    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.updated_at) %> ago
    </dd>
  </dl>
</div>
