<div>
  <div>
    <h1>
      Production plan: <%= @the_production_plan.name %>
    </h1>

  </div>
</div>


<div>
  <div>

    <form action="/modify_production_plan/<%= @the_production_plan.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea type="text" id="description_box" name="query_description" rows=3><%= @the_production_plan.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_production_plan.user_id %>">
      </div>

      <div>
        <label for="space_box">
          Total Usable Space
        </label>

        <input type="float" id="space_box" name="query_space" value="<%= @the_production_plan.total_space %>">
      </div>

      <button>
        Update production plan
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    Total Fixed Costs: <%= @the_production_plan.fixed_costs.pluck(:total_cost).sum %>
  </div>

  <div>
    Fixed Costs per ft&sup2; per week: <%= @fixed_per_sqftweek %>
  </div>
</div>

<hr>

<div>
  <h2>
    Fixed Costs
  </h2>

  <div>
    <form action="/insert_overhead_expense" method="post">
      <div>
        <label for="category_box">
          Expense Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="total_cost_box">
          Total cost
        </label>

        <input type="text" id="total_cost_box" name="query_total_cost">
      </div>

      <div>
        <input type="hidden" id="plan_id_box" name="query_plan_id" value=<%= @the_production_plan.id %>>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value=<%= current_user.id %>>
      </div>

      <button>
        Create overhead expense
      </button>
    </form>
  </div>

  <br>

  <table border=1>
    <tr>
      <th>
        Expense
      </th>  
      <th>
        Cost
      </th>
    </tr>

    <% @the_production_plan.fixed_costs.each do | cost | %>

      <tr>
        <td>
          <%= cost.category %>
        </td>
      
        <td>
          <%= cost.total_cost %>
        </td>
      </tr>

    <% end %>
  </table>
</div>

<hr>

<h2>
  Variable Costs
</h2>

<div>
</div>

<hr>

<div>
  <div>
    <a href="/production_plans">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_production_plan/<%= @the_production_plan.id %>">
      Delete production plan
    </a>
  </div>
</div>

<div>
  <dl>
    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.updated_at) %> ago
    </dd>
  </dl>
</div>
