<div>
  <div>
    <h1>
      Production plan: <%= @the_production_plan.name %>
    </h1>

  </div>
</div>


<div>
  <div>

    <form action="/modify_production_plan/<%= @the_production_plan.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea type="text" id="description_box" name="query_description" rows=3><%= @the_production_plan.description %></textarea>
      </div>

      <div>
        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_production_plan.user_id %>">
      </div>

      <div>
        <label for="space_box">
          Total Usable Space
        </label>

        <input type="float" id="space_box" name="query_space" value="<%= @the_production_plan.total_space %>">
      </div>

      <div>
        <label for="soil_box">
          Soil Cost per yd&sup3;
        </label>

        <input type="float" id="soil_box" name="query_soil" value="<%= @the_production_plan.soil_cost %>">
      </div>

      <div>
        <label for="weeks_box">
          Production Weeks
        </label>

        <input type="float" id="weeks_box" name="query_prodweeks" value="<%= @the_production_plan.prod_weeks %>">
      </div>

      <button>
        Update production plan
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    Total ft&sup2;-weeks: <%= @the_production_plan.total_space * @the_production_plan.prod_weeks %>
  </div>

  <div>
    Used Space: <%= @used_space %>%
  </div>

  <div>
    Total Fixed Costs: <%= total_fixcosts = @the_production_plan.fixed_costs.pluck(:total_cost).sum %>
  </div>

  <div>
    <% total_overhead = (@fixed_per_sqftweek / (@used_space/100)).round(2) %>
    <% if total_overhead.infinite?() | total_overhead.nan?() %>
      Fixed Costs per ft&sup2; per week (incl. Overhead Adjustment): 0
    <% else %>
      Fixed Costs per ft&sup2; per week (incl. Overhead Adjustment): <%= total_overhead  %>
    <% end %>
  </div>

  <div>
    Total Variable Costs (incl. Shrink Opportunity Cost): <%= total_varcosts = @the_production_plan.crops.pluck(:total_cost).sum %> 
  </div>

  <div>
    Total Revenue: <%= total_rev = @the_production_plan.crops.pluck(:total_revenue).sum %>
  </div>
  
  <div>
    Total Qty: <%= @the_production_plan.crops.pluck(:total_qty).sum%> 
  </div>

  <div>
    Total Profit: <%= total_rev = (total_varcosts - total_fixcosts) %>
  </div>
</div>

<hr>

<div>
  <h2>
    Fixed Costs
  </h2>

  <table border=1>
    <tr>
      <th>
        Manage
      </th> 
      <th>
        Expense
      </th>  
      <th>
        Cost
      </th>
    </tr>

    <tr>
      <div>
      <form action="/insert_overhead_expense" method="post">
        <div>
          <td>
            <button>
              Add
            </button>
          </td>

          <td>
            <input type="text" id="category_box" name="query_category">
          </td>
        </div>

        <div>
          <td>
            <input type="text" id="total_cost_box" name="query_total_cost">
          </td>
        </div>

        <div>
          <input type="hidden" id="plan_id_box" name="query_plan_id" value=<%= @the_production_plan.id %>>
        </div>
      </form>
    </div>
    </tr>

    <% @the_production_plan.fixed_costs.order({:updated_at=>:desc}).each do | cost | %>

      <tr>
        <td>
          <form action="/overhead_expenses/<%= cost.id %>" method="get"><button>Edit</button></form>
        </td>

        <td>
          <%= cost.category %>
        </td>
      
        <td>
          <%= cost.total_cost %>
        </td>
      </tr>

    <% end %>
  </table>
</div>

<hr>

<h2>
  Material Costs
</h2>

<div>
  <table border=1>
    <tr>
      <th>
        Manage
      </th>

      <th>
        Material
      </th>

      <th>
        Crop Time
      </th>

      <th>
        Container Type
      </th>

      <th>
        Pot Diameter (inches)/Cell Count
      </th>

      <th>
        Total Units Planted
      </th>

      <th>
        Bench Area Used
      </th>

      <th>
        Unit Material Cost
      </th>

      <th>
        Unit Container Cost
      </th>

      <th>
        Unit Tag Cost
      </th>

      <th>
        Miscellaneous Unit Costs
      </th>

      <th>
        Buffer %
      </th>

      <th>
        Shrink Opportuniy Cost
      </th>

      <th>
        Total Unit Cost
      </th>

      <th>
        Unit Sell Price
      </th>
      
      <th>
        Unit Margin
      </th>
      
      <th>
        Margin / ft&sup2; / Week
      </th>
    </tr>

    <tr>
<!--      <td>
        <a href="">Add</a>
      </td>-->
      <form action="/insert_material" method="post">
        <div>
          <td>
            <button>
              Add
            </button>
          </td>
        </div>

        <div>
          <td>
            <textarea type="text" id="description_box" name="query_description" cols="10" rows="2"></textarea>
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="text" id="crop_time_box" name="query_crop_time">
          </td>
        </div>

        <div>
          <td>
            <select id="container_type_box" name="query_container_type">
              <option value="Pot">Pot</option>
              <option value="Tray">Tray</option>
            </select>
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="container_size_box" name="query_container_size">
          </td>
        </div>

        <div>
          <td>
            <input size=5 type="float" id="totalqty_box" name="query_total_qty">
          </td>
        </div>

        <div>
          <td>
            N/A
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="material_cost_box" name="query_material_cost">
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="unit_container_cost_box" name="query_unit_container_cost">
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="unit_tag_cost_box" name="query_unit_tag_cost">
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="miscellaneous_box" name="query_miscellaneous">
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="buffer_box" name="query_buffer">
          </td>
        </div>

        <div>
          <td>
            N/A 
          </td>
        </div>

        <div>
          <td>
            N/A 
          </td>
        </div>

        <div>
          <td>
            <input size=4 type="float" id="unit_price_box" name="query_unit_price">
          </td>
        </div>

        <div>
          <td>
            N/A 
          </td>
        </div>

        <div>
          <td>
            N/A 
          </td>
        </div>

        <input type="hidden" id="plan_box" name="query_plan_id" value="<%=@the_production_plan.id%>">

      </form>
    
    </tr>

    <% @the_production_plan.crops.order({:updated_at=>:desc}).each do | crop | %>
      <tr>
        <td>
          <form action="/materials/<%=crop.id%>" method="get"><button>Edit</button></form>
          <form action="/copy_material/<%=crop.id%>" method="post"><button>Copy</button></form>
        </td>

        <td>
          <%= crop.description %>
        </td>

        <td>
          <%= crop.crop_time %>
        </td>
        
        <td>
          <%= crop.container_type %>
        </td>
        
        <td>
          <%= crop.container_size %>
        </td>
        
        <td>
          <%= crop.total_qty %>
        </td>
        
        <td>
          <%= crop.bench_space %>
        </td>
        
        <td>
          <%= crop.material_cost %>
        </td>
        
        <td>
          <%= crop.unit_container_cost %>
        </td>
        
        <td>
          <%= crop.unit_tag_cost %>
        </td>
        
        <td>
          <%= crop.miscellaneous %>
        </td>
        
        <td>
          <%= crop.buffer %>
        </td>
        
        <td>
          <%= crop.shrink_opportunity_cost %>
        </td>

        <td>
          <%= total_matl_cost = (crop.material_cost + crop.unit_container_cost + crop.unit_tag_cost + crop.soil_cost + crop.miscellaneous + total_overhead).round(2) %>
        </td>
        
        <td>
          <%= crop.unit_price %>
        </td>

        <td>
          <%= (crop.unit_price - total_matl_cost).round(2) %>
        </td>

        <td>
          <%= (((crop.unit_price - total_matl_cost)*crop.total_qty) / crop.bench_space  / crop.crop_time).round(2) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<hr>

<div>
  <div>
    <a href="/production_plans">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_production_plan/<%= @the_production_plan.id %>">
      Delete production plan
    </a>
  </div>
</div>

<div>
  <dl>
    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.updated_at) %> ago
    </dd>
  </dl>
</div>
