<div>
  <div>
    <h1>
      Production Plan: <%= @the_production_plan.name %>
    </h1>

  </div>
</div>

<div class="prod-plan-row">
  <div style="max-width:300px;" class="production-edit">
    <h3>Edit Plan</h3>
    <form action="/modify_production_plan/<%= @the_production_plan.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea class="form-control border-dark" type="text" id="description_box" name="query_description" rows=3><%= @the_production_plan.description %></textarea>
      </div>

      <div>
        <label for="space_box">
          Total Usable Bench Space (ft&sup2;)
        </label>

        <input class="form-control border-dark" type="float" id="space_box" name="query_space" value="<%= @the_production_plan.total_space %>">
      </div>

      <div>
        <label for="soil_box">
          Soil Cost per yd&sup3;
        </label>

        <input class="form-control border-dark" type="float" id="soil_box" name="query_soil" value="<%= @the_production_plan.soil_cost %>">
      </div>

      <div>
        <label for="weeks_box">
          Production Weeks
        </label>

        <input class="form-control border-dark" type="float" id="weeks_box" name="query_prodweeks" value="<%= @the_production_plan.prod_weeks %>">
      </div>

      <button class="btn btn-outline-danger btn-sm">
        Update
      </button>
    </form>
  </div>
  
  <div class="production-stats" >
    <h3>Production Overview</h3>
    <div class="space-qty-totals">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Total ft&sup2;-weeks:</h6>
          <h5 class="card-title"><%= (@the_production_plan.total_space * @the_production_plan.prod_weeks).to_fs(:delimited) %></h5>
        </div>
      </div>

      <div class="card" style="width: 13rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Used Space:</h6>
          <% if @used_space >= 100 %>
            <h5 class="card-title" style="color: red;"><%= @used_space.to_fs(:delimited) %>%<br>Exceeds Available Space</h5>
          <% else %>
            <h5 class="card-title"><%= @used_space.to_fs(:delimited) %>%</h5>
          <% end %>
        </div>
      </div>
      
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Total Qty: </h6>
          <h5 class="card-title"><%= @the_production_plan.crops.pluck(:total_qty).sum.to_i.to_fs(:delimited) %></h5>
        </div>
      </div>

    </div>

    <h3>Costs</h3>

    <div class="cost-stats">
      <div class="card" style="width: 12rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Total Fixed Costs: </h6>
          <% total_fixcosts = @the_production_plan.fixed_costs.pluck(:total_cost).sum%>
          <h5 class="card-title">$<%= total_fixcosts.to_fs(:delimited) %> </h5>
        </div>
      </div>

      <div class="card" style="width: 14rem;">
        <div class="card-body">
          <% total_overhead = (@fixed_per_sqftweek / (@used_space/100)).round(2) %>
          <% if total_overhead.infinite?() | total_overhead.nan?() %>
            <h6 class="card-subtitle mb-2 text-body-secondary" >Fixed Costs / ft&sup2; / week (incl. Used Space Adj.): </h6> 
            <h5 class="card-title">0</h5>
          <% else %>
            <h6 class="card-subtitle mb-2 text-body-secondary" >Fixed Costs / ft&sup2; / week (incl. Used Space Adj.): </h6>
            <h5 class="card-title">$<%= total_overhead.to_fs(:delimited)  %></h5>
          <% end %>
        </div>
      </div>

      <div class="card" style="width: 15rem;">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">Total Variable Costs (incl. Shrink Opportunity Cost):</h6> 
          <% total_varcosts = @the_production_plan.crops.pluck(:total_cost).sum %>
          <h5 class="card-title">$<%= total_varcosts.to_fs(:delimited) %></h5>
        </div>
      </div>
    </div>

    <h3>Profitability</h3>

    <div class="profit-stats">
      <div class="card" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-body-secondary">Total Revenue: </h5>
          <% total_rev = @the_production_plan.crops.pluck(:total_revenue).sum %>
          <h4 class="card-title">$<%= total_rev.to_fs(:delimited) %></h4>
        </div>
      </div>

      <div class="card" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-subtitle mb-2 text-body-secondary">Total Profit: </h5>
          <h4 class="card-title">$<%= (total_varcosts - total_fixcosts).to_fs(:delimited) %></h4>
        </div>
      </div>
    </div>  
  </div>
</div>

<hr>

<div>
  <h2>
    Fixed Costs
  </h2>

  <div>
    <p>List your fixed production costs and any overhead costs you expect to incur during this production period.</p>
  </div>

  <div  style="padding-right:700px">
    <table class="table table-striped table-sm">
      <tr>
        <th>
          Manage
        </th> 
        <th>
          Expense
        </th>  
        <th>
          Cost
        </th>
      </tr>

      <tr>
        <form action="/insert_overhead_expense" method="post">
          <td>
            <button class="btn btn-outline-danger btn-sm">
              Add
            </button>
          </td>

          <td>
            <input class="form-control border-dark" type="text" id="category_box" name="query_category">
          </td>

          <td>
            <input class="form-control border-dark" type="text" id="total_cost_box" name="query_total_cost">
          </td>

          <input type="hidden" id="plan_id_box" name="query_plan_id" value=<%= @the_production_plan.id %>>
        </form>
      </tr>

      <% @the_production_plan.fixed_costs.order({:updated_at=>:desc}).each do | cost | %>

        <tr>
          <td>
            <form action="/overhead_expenses/<%= cost.id %>" method="get"><button class="btn btn-outline-danger btn-sm">Edit</button></form>
          </td>

          <td>
            <%= cost.category %>
          </td>
        
          <td>
            $<%= cost.total_cost.to_fs(:delimited) %>
          </td>
        </tr>

      <% end %>
    </table>
  </div>

</div>

<hr>

<div>
  <h2>
    Material Costs
  </h2>

  <div>
    <p>List the materials you plan to produce as well as some basic production characteristics (i.e., container size, expected unit sell price, etc.).</p>
  </div>

  <div>
    <table class="table table-striped table-sm">
      <tr>
        <th>
          Manage
        </th>

        <th>
          Material
        </th>

        <th>
          Crop Time
        </th>

        <th>
          Container Type
        </th>

        <th>
          Pot Diameter (inches)/ Cell Count
        </th>

        <th>
          Total Units Planted
        </th>

        <th>
          Bench Area Used
        </th>

        <th>
          Unit Material Cost
        </th>

        <th>
          Unit Container Cost
        </th>

        <th>
          Unit Tag Cost
        </th>

        <th>
          Misc. Unit Costs
        </th>

        <th>
          Buffer %
        </th>

        <th>
          Shrink Opportuniy Cost
        </th>

        <th>
          Total Unit Cost
        </th>

        <th>
          Unit Sell Price
        </th>
        
        <th>
          Unit Margin
        </th>
        
        <th>
          Margin / ft&sup2; / Week
        </th>
      </tr>

      <tr>
        <form action="/insert_material" method="post">
          <td>
            <button class="btn btn-outline-danger btn-sm">
              Add
            </button>
          </td>

          <td>
            <textarea class="form-control border-dark" type="text" id="description_box" name="query_description" cols="10" rows="2"></textarea>
          </td>

          <td>
            <input class="form-control border-dark" size=4 type="text" id="crop_time_box" name="query_crop_time">
          </td>

          <td>
            <select class="form-select border-dark" id="container_type_box" name="query_container_type">
              <option value="Pot">Pot</option>
              <option value="Tray">Tray</option>
            </select>
          </td>

          <td>
            <input class="form-control border-dark"  type="float" id="container_size_box" name="query_container_size">
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="totalqty_box" name="query_total_qty">
          </td>

          <td>
            N/A
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="material_cost_box" name="query_material_cost">
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="unit_container_cost_box" name="query_unit_container_cost">
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="unit_tag_cost_box" name="query_unit_tag_cost">
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="miscellaneous_box" name="query_miscellaneous">
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="buffer_box" name="query_buffer">
          </td>

          <td>
            N/A 
          </td>

          <td>
            N/A 
          </td>

          <td>
            <input class="form-control border-dark" type="float" id="unit_price_box" name="query_unit_price">
          </td>

          <td>
            N/A 
          </td>

          <td>
            N/A 
          </td>

          <input type="hidden" id="plan_box" name="query_plan_id" value="<%=@the_production_plan.id%>">

        </form>
      
      </tr>

      <% @the_production_plan.crops.order({:updated_at=>:desc}).each do | crop | %>
        <tr>
          <td>
            <form action="/materials/<%=crop.id%>" method="get"><button class="btn btn-outline-danger btn-sm">Edit</button></form>
            <form action="/copy_material/<%=crop.id%>" method="post"><button class="btn btn-outline-danger btn-sm">Copy</button></form>
          </td>

          <td>
            <%= crop.description %>
          </td>

          <td>
            <%= crop.crop_time %>
          </td>
          
          <td>
            <%= crop.container_type %>
          </td>
          
          <td>
            <%= crop.container_size %>
          </td>
          
          <td>
            <%= crop.total_qty.to_fs(:delimited) %>
          </td>
          
          <td>
            <%= crop.bench_space.to_fs(:delimited) %>
          </td>
          
          <td>
            $<%= crop.material_cost.to_fs(:delimited) %>
          </td>
          
          <td>
            $<%= crop.unit_container_cost.to_fs(:delimited) %>
          </td>
          
          <td>
            $<%= crop.unit_tag_cost.to_fs(:delimited) %>
          </td>
          
          <td>
            $<%= crop.miscellaneous.to_fs(:delimited) %>
          </td>
          
          <td>
            <%= crop.buffer %>
          </td>
          
          <td>
            $<%= crop.shrink_opportunity_cost.to_fs(:delimited) %>
          </td>

          <td>
            <% total_matl_cost = (crop.material_cost + crop.unit_container_cost + crop.unit_tag_cost + crop.soil_cost + crop.miscellaneous + total_overhead).round(2) %>
            <%= total_matl_cost.to_fs(:delimited) %>
          </td>
          
          <td>
            $<%= crop.unit_price.to_fs(:delimited) %>
          </td>

          <td>
            $<%= (crop.unit_price - total_matl_cost).round(2).to_fs(:delimited) %>
          </td>

          <td>
            $<%= (((crop.unit_price - total_matl_cost)*crop.total_qty) / crop.bench_space  / crop.crop_time).round(2).to_fs(:delimited) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<div>
  <dl>
    <dt>
      Created at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.created_at) %> ago
    </dd>

    <dt>
      Updated at
    </dt>
    <dd>
      <%= time_ago_in_words(@the_production_plan.updated_at) %> ago
    </dd>
  </dl>
</div>

<hr>

<div>
  <div>
    <a href="/production_plans">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_production_plan/<%= @the_production_plan.id %>">
      Delete production plan
    </a>
  </div>
</div>
