<div>
  <div>
    <h1>
      List of all overhead expenses
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new overhead expense
    </h2>

    <form action="/insert_overhead_expense" method="post">
      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category">
      </div>

      <div>
        <label for="total_cost_box">
          Total cost
        </label>

        <input type="text" id="total_cost_box" name="query_total_cost">
      </div>

      <div>
        <label for="plan_id_box">
          Plan
        </label>

        <input type="text" id="plan_id_box" name="query_plan_id">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <button>
        Create overhead expense
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Category
        </th>

        <th>
          Total cost
        </th>

        <th>
          Plan
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_overhead_expenses.each do |an_overhead_expense| %>
      <tr>
        <td>
          <%= an_overhead_expense.id %>
        </td>

        <td>
          <%= an_overhead_expense.category %>
        </td>

        <td>
          <%= an_overhead_expense.total_cost %>
        </td>

        <td>
          <%= an_overhead_expense.plan_id %>
        </td>

        <td>
          <%= an_overhead_expense.user_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_overhead_expense.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_overhead_expense.updated_at) %> ago
        </td>

        <td>
          <a href="/overhead_expenses/<%= an_overhead_expense.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
