<div>
  <div>
    <h1>
      Fixed Cost: <%= @the_overhead_expense.category %>
    </h1>


    
      <h2>
        Plan: <%= @the_overhead_expense.plan.name %>
      </h2>

      <div>
        Created at: <%= time_ago_in_words(@the_overhead_expense.created_at) %> ago
      </div>

      <div>
        Updated at: <%= time_ago_in_words(@the_overhead_expense.updated_at) %> ago
      </div>

<br>

  <div>
    <form action="/modify_overhead_expense/<%= @the_overhead_expense.id %>"  method="post" >
      <div>
        <label for="category_box">
          Category
        </label>

        <input type="text" id="category_box" name="query_category" value="<%= @the_overhead_expense.category %>">
      </div>

      <div>
        <label for="total_cost_box">
          Total cost
        </label>

        <input type="text" id="total_cost_box" name="query_total_cost" value="<%= @the_overhead_expense.total_cost %>">
      </div>

      <div>

        <input type="hidden" id="plan_id_box" name="query_plan_id" value="<%= @the_overhead_expense.plan_id %>">
      </div>

      <div>

        <input type="hidden" id="user_id_box" name="query_user_id" value="<%= @the_overhead_expense.user_id %>">
      </div>

      <button>
        Update overhead expense
      </button>
    </form>
  </div>

</div>

<hr>

    <div>
      <div>
        <a href="/production_plans/<%= @the_overhead_expense.plan_id %>">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_overhead_expense/<%= @the_overhead_expense.id %>">
          Delete overhead expense
        </a>
      </div>
    </div>
