<div>
  <div>
    <h1>
      Material: <%= @the_material.description %>
    </h1>
    
    <h2>
      Plan: <%= @the_material.grower.name %>
    </h2>



    <dl>

      <div>
        Created at: <%= time_ago_in_words(@the_material.created_at) %> ago
      </div>

      <div>
        Updated at: <%= time_ago_in_words(@the_material.updated_at) %> ago
      </div>
  </div>
</div>

<br>


<div>
  <div style="max-width: 300px;">

    <form action="/modify_material/<%= @the_material.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <textarea class="form-control border-dark"  type="text" id="description_box" name="query_description" rows="2"><%= @the_material.description %></textarea>
      </div>

      <div>
        <label for="crop_time_box">
          Crop time
        </label>

        <input class="form-control border-dark" type="integer" id="crop_time_box" name="query_crop_time" value="<%= @the_material.crop_time %>">
      </div>

      <div>
        <label for="container_type_box">
          Container type
        </label>

        <select class="form-control border-dark"  id="container_type_box" name="query_container_type">
          <option value="Pot">Pot</option>
          <option value="Tray">Tray</option>
        </select>
      </div>

      <div>
        <label for="container_size_box">
          Container size
        </label>

        <input class="form-control border-dark" type="float" id="container_size_box" name="query_container_size" value="<%= @the_material.container_size %>">
      </div>
      
      <div>
        <label for="total_qty_box">
          Total Quantity
        </label>

        <input class="form-control border-dark" type="float" id="total_qty_box" name="query_total_qty" value="<%= @the_material.total_qty %>">
      </div>

      <div>
        <label for="material_cost_box">
          Material cost
        </label>

        <input class="form-control border-dark" type="float" id="material_cost_box" name="query_material_cost" value="<%= @the_material.material_cost %>">
      </div>

      <div>
        <label for="unit_container_cost_box">
          Unit container cost
        </label>

        <input class="form-control border-dark" type="float" id="unit_container_cost_box" name="query_unit_container_cost" value="<%= @the_material.unit_container_cost %>">
      </div>

      <div>
        <label for="unit_tag_cost_box">
          Unit tag cost
        </label>

        <input class="form-control border-dark" type="float" id="unit_tag_cost_box" name="query_unit_tag_cost" value="<%= @the_material.unit_tag_cost %>">
      </div>

      <div>
        <label for="miscellaneous_cost_box">
          Miscellaneous cost
        </label>

        <input class="form-control border-dark" type="float" id="miscellaneous_cost_box" name="query_miscellaneous" value="<%= @the_material.miscellaneous %>">
      </div>

      <div>
        <label for="buffer_box">
          Buffer %
        </label>

        <input class="form-control border-dark" type="float" id="buffer_box" name="query_buffer" value="<%= @the_material.buffer %>">
      </div>
      
      <div>
        <label for="unit_price_box">
          Unit price
        </label>

        <input class="form-control border-dark" type="float" id="unit_price_box" name="query_unit_price" value="<%= @the_material.unit_price %>">
      </div>

      <button class="btn btn-outline-danger btn-sm">
        Update material
      </button>
    </form>
  </div>
</div>

<hr>

<div>
  <div>
    <a href="/production_plans/<%= @the_material.plan_id %>">
      Go back
    </a>
  </div>

  <div>
    <a href="/delete_material/<%= @the_material.id %>">
      Delete material
    </a>
  </div>
</div>
