<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <% if current_user != nil %>
      <nav>
        <a href="/production_plans">All Plans</a>
        <a href="/users/edit">Edit Profile</a>
        <a href="/users/sign_out">Sign Out</a>
      </nav>
    <% elsif %>
      <nav>
        <a href="/users/sign_up">Sign Up</a>
        <a href="/users/sign_in">Sign In</a>
      </nav>
    <% end %>

    <hr>

    <%= yield %>
  </body>
</html>
