<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <nav>

        <% if current_user != nil %>
          <a href="/production_plans">All Plans</a>
          <a href="/users/edit">Edit Profile</a>
          <a href="/users/sign_out" data-method="delete">Sign Out</a>
        <% elsif %>
          <a href="/users/sign_up">Sign Up</a>
          <a href="/users/sign_in">Sign In</a>
        <% end %>
      </nav>

    <%=  %>

    <hr>

    <%= yield %>
  </body>
</html>
